<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container mt-3 main_div">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card">

                    <div class="container text-center">
                        <img width="80px" th:src="@{/img/membership.png}" alt="">
                    </div>
                    <h1 class="text-center">Update Station Details !!</h1>




                    <!--          th:object get mapped with controller user, we can see the value of user by -->
                    <!--          using th:value-->
                    <form  th:action="updateRadioStation" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" th:value="${station.id}">
                        <div class="mb-3">
                            <label  class="form-label">Country Name</label>
                            <input type="text" class="form-control "  name="countryName" th:value="${station.countryName}"aria-describedby="emailHelp" placeholder="Enter here" >

                        </div>

                        <div class="mb-3">
                            <label for="city_field" class="form-label">City Name</label>
                            <input type="text" class="form-control" name="cityName" th:value="${station.cityName}"id="city_field" aria-describedby="emailHelp" placeholder="Enter here"  >
                        </div>

                        <div class="mb-3">
                            <label for="stationName_field" class="form-label">Station Name</label>
                            <input type="text" class="form-control" name="stationName" th:value="${station.stationName}" id="stationName_field" aria-describedby="emailHelp" placeholder="Enter here"   >
                        </div>

                        <div class="mb-3">
                            <label for="stationURL_field" class="form-label">Station URL</label>
                            <input type="text" class="form-control" name="stationURL" th:value="${station.stationURL}" id="stationURL_field" aria-describedby="emailHelp" placeholder="Enter here"   >
                        </div>

                        <div class="mb-3">
                            <label for="stationFrequency_field" class="form-label">Station Frequency</label>
                            <input type="text" class="form-control" name="stationFrequency" th:value="${station.stationFrequency}" id="stationFrequency_field" aria-describedby="emailHelp" placeholder="Enter here"  >
                        </div>
                        <div class="mb-3">
                            <label for="stationPhoto_field" class="form-label">Station Photo</label>
                            <input type="file" class="form-control" name="file" th:value="${station.channelPhoto}" id="stationPhoto_field" aria-describedby="emailHelp" placeholder="Enter here" >
                        </div>


                        <!--                        <textarea placeholder="Enter something about Radio Station" rows="3" class="form-control" ></textarea>-->

                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary ">Update</button>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>